*{
    margin: 0;
}

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Colors */
.primaryColor{
    color: #FD6E0A;
}
.secondaryColor{
    color: #FFF8F3;
}
.dark-1{
    color: #181818;
}
.dark-2{
    color: #474747;
}
.dark-3{
    color: #757575;
}

/* Button */
.btn-primary{
    color: white;
    padding: 18px 35px;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}
.btn-primary:hover{
    color: #FD6E0A;
    padding: 18px 35px;
    background-color: transparent;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}
.btn-secondary{
    color: #FD6E0A;
    padding: 18px 35px;
    background-color: transparent;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}
.btn-secondary:hover{
    color: white;
    padding: 18px 35px;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}

/* font-style */
.sections-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.sections-des{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
}

.header{
    background-image: url('/images/developer.png'), url('/images/header_bg.png') ;
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    max-height: 837px;
    background-color: #FFF8F3;
}

/* NavBar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 230px;
    padding: 50px 0;
}
.logo{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 53px;
}
nav ul li{
    list-style: none;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}

/* Banner */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 38px 0 230px;
}
.banner-content{
    max-width: 585px;
}
.banner-content h4{
    font-size: 45px;
    font-weight: 500;
}
.banner-content h1{
    font-size: 85px;
    font-weight: bold;
    margin-bottom:20px ;
}

.main{
    max-width: 1140px;
    margin: 0 auto;
}

/* about section */
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 30px;
    padding: 131px 157px;
    background-color: #FFF8F3;
    margin: 130px 0;
    border-radius: 10px;
}
.info{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    gap: 10px;
}

.info h4{
    font-size: 20px;
    font-weight: 400;
    color: #757575;
}

.info p{
    font-size: 20px;
    color: #474747;
    font-weight: bold;
}

/* what-i-do */
.what-i-do{
    text-align: center;
    margin-bottom: 130px;
}

.card-section{
    display: flex;
    text-align: left;
    gap: 24px;
    margin-top: 50px;
}

.card{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.card h2{
    font-size: 20px;
    font-weight: bold;
    color: #181818;
    margin-top: 30px;
    margin-bottom: 20px;
}

.card p{
    font-size: 16px;
    font-weight: 400;
    color: #757575;
}
