*{
    margin: 0;
}

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Colors */
.primaryColor{
    color: #FD6E0A;
}
.secondaryColor{
    color: #FFF8F3;
}
.dark-1{
    color: #181818;
}
.dark-2{
    color: #474747;
}
.dark-3{
    color: #757575;
}

/* Button */
.btn-primary{
    color: white;
    padding: 18px 35px;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}
.btn-primary:hover{
    color: #FD6E0A;
    padding: 18px 35px;
    background-color: transparent;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}
.btn-secondary{
    color: #FD6E0A;
    padding: 18px 35px;
    background-color: transparent;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}
.btn-secondary:hover{
    color: white;
    padding: 18px 35px;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}

/* font-style */
.sections-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.sections-des{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
}

.header{
    background-image: url("images/developer.png"), url("images/header_bg.png") ;
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-color: #FFF8F3;
    padding: 0px 150px;
    z-index: -2;
}
@media (max-width: 768px) {
    .header{
        padding: 0px 30px;
    }
}
@media (max-width: 1020px) {
    .header{
        padding: 0px 10px;
    }
}

/* NavBar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.logo{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 53px;
}
nav ul li{
    list-style: none;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
@media (max-width: 1020px) {
    nav{ 
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }
}
@media (max-width: 768px) {
    nav ul{
        gap: 20px;
}
}

.main{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0px 150px;
}
@media (max-width: 768px) {
    .main{
        padding: 0px 10px;
    }
}
@media (max-width: 1020px) {
    .main{
        padding: 0px 50px;
    }
}

/* Banner */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    max-width: 585px;
    padding-bottom: 30px;
}
.banner-content h4{
    font-size: 45px;
    font-weight: 500;
}
.banner-content h1{
    font-size: 85px;
    font-weight: bold;
    margin-bottom:20px ;
}
.banner-button{
    display: flex;
    text-align: center;
    gap: 30px;
    flex-wrap: wrap;
}
.banner img{
    max-width: 600px;
}
@media (max-width: 1020px) {
    .banner{ 
        flex-wrap: wrap;
        margin: 50px;
    }
    .banner-content{
        z-index: 2;
    }
    .banner-content h1{
        font-size: 70px;
        font-weight: bold;
    }
    .banner img{
        display: none;
    }
    .banner-button{
        flex-direction: column;
    }

}
@media (max-width: 768px) {
    .banner-content h1{
        font-size: 60px;
        font-weight: bold;
    }
}



/* about section */
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 30px;
    padding: 131px 157px;
    background-color: #FFF8F3;
    margin: 130px 0;
    border-radius: 10px;
}
.info{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    gap: 20px;
}

.info h4{
    font-size: 20px;
    font-weight: 400;
    color: #757575;
}

.info p{
    font-size: 20px;
    color: #474747;
    font-weight: bold;
}
@media (max-width: 1020px) {
    .about{
        padding: 50px;
        margin: 50px 0;
    }
}
@media (max-width: 768px) {
    .about{
        padding: 30px;
    }
}

/* what-i-do */
.what-i-do{
    text-align: center;
    margin-bottom: 130px;
}

.card-section{
    display: flex;
    text-align: left;
    gap: 24px;
    margin-top: 50px;
}

.card{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.card h2{
    font-size: 20px;
    font-weight: bold;
    color: #181818;
    margin-top: 30px;
    margin-bottom: 20px;
}

.card p{
    font-size: 16px;
    font-weight: 400;
    color: #757575;
}
@media (max-width: 1020px) {
    .card-section{
        flex-wrap: wrap;
    }
}


/* resume section */

.resume-container{
    display: flex;
    gap: 24px;
}
.resume-col-title{
    font-size: 30px;
    color: #181818;
    font-weight: bold;
}
.experience-title{
    font-size: 26px;
    color: #474747;
    font-weight: bold;
    margin:30px 0 10px 0;
}
.experience-sub-title{
    font-size: 20px;
    color: #757575;
    font-weight: 600;
    margin-bottom: 20px;
}
.experience-des{
    font-size: 16px;
    color: #757575;
    margin-bottom: 30px;
}
@media (max-width: 1020px) {
    .resume-container{
        flex-wrap: wrap;
    }
}

/* Footer */
.footer{
    background-color: #FFF8F3;
    display: flex;
    justify-content: space-between;
    padding: 130px 230px;
    gap: 100px;
}

.footer-col{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

footer input[type="text"],  footer input[type="email"], footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
    font-size: 16px;
    box-sizing: border-box;
}

@media (max-width: 1020px) {
    .footer{
        flex-wrap: wrap;
        padding: 60px;
    }
    .footer-col{
        width: 100% !important;
        gap: 0px;
    }
}
@media (max-width: 768px) {
    .footer{
        padding: 30px;
    }
}
